<nz-root>
  <nz-layout>
    <nz-header>
      <div style="color: aliceblue;font-size: 22px">AsyncHttpBench</div>
    </nz-header>
    <nz-content style="padding:0 50px;">

      <nz-row [nzGutter]="12">
        <nz-col [nzSpan]="12">
          <div style="background:#fff; padding: 24px; min-height: 240px;">
            <app-my-form></app-my-form>
          </div>
        </nz-col>
        <nz-col [nzSpan]="12">
          <div style="background:#fff; padding: 24px; min-height: 540px;">Content</div>
        </nz-col>
      </nz-row>


    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>

</nz-root>
